* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: rgb(233, 229, 229);
}

.clock {
  display: flex;
  gap: 100px;
}

.clock div {
  position: absolute;
  text-align: center;
}

.clock .circles {
  width: 200px;
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: 600;
}

svg {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(270deg);
}

circle {
  height: 100%;
  width: 100%;
  fill: none;
  stroke: black;
  opacity: 85%;
  stroke-width: 12;
  transform: translate(10px, 10px);
}

circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 566;
}

.clock .ap {
  position: relative;
  font-size: 3em;
  display: flex;
  align-items: center;
  transform: translateX(-40px);
 }

.ball {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ball::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  background-color: var(--clr);
  border-radius: 100%;
}
